@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Lato", sans-serif;
}
ul {
	list-style-type: none;
}
a {
	text-decoration: none;
}

/* footer */

.redSocial,
.redSocial:hover,
.redSocial:active {
	text-decoration: none;
	color: inherit;
}
.redSocial {
	transition: background 0.3s, color 0.3s;
}
.redSocial i {
	transition: transform 0.3s;
}
.redSocial {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 5px 20px;
	@media (max-width: 360px) {
		margin: 5px 10px;
	}
}
.red-in {
	background-color: #0a4f6e;
}
.red-gh {
	background-color: #1c2531;
}
.red-ig {
	background-color: #97136d;
}

.red-in:hover {
	color: #0a4f6e;
}
.red-gh:hover {
	color: #1c2531;
}
.red-ig:hover {
	color: #97136d;
}

.redSocial:hover i {
	transform: rotate(360deg);
}

.redSocial {
	font-size: 22px;
	width: 48px;
	height: 48px;
	border-radius: 8px;
	color: #7753e6;
}
.redSocial:hover {
	background-color: #7753e6;
}
/* footer */

/* boton */
.linea1,
.linea2,
.linea3 {
	width: 30px;
	height: 5px;
	background-color: #fff;
	margin: 5px;
	border-radius: 3px;
	transition: all 0.3s;
}

.linea11 {
	transform: translateY(10px) rotate(225deg);
}
.linea22 {
	opacity: 0;
}
.linea33 {
	transform: translateY(-10px) rotate(-225deg);
}
/* boton */

/* loading */

.loader {
	width: 2.2em;
	height: 2.2em;
	display: block;
	position: relative;
	animation: spinRing 1500ms linear infinite;
}
.loader::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
	height: auto;
	width: auto;
	border: 5px solid #865dff;
	border-radius: 50%;
	clip-path: polygon(50% 50%, 50% 0%, 100% 0%, 100% 80%);
	animation: spinRingInner 1500ms cubic-bezier(0.77, 0, 0.175, 1) infinite;
}
@keyframes spinRing {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
@keyframes spinRingInner {
	0% {
		transform: rotate(-180deg);
	}
	50% {
		transform: rotate(-160deg);
	}
	100% {
		transform: rotate(180deg);
	}
}

/* loading */

/* main */
.elemento {
	background-image: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' class='w-full h-full' viewBox='0 0 400 400'><defs><pattern id='bg_pattern' width='100' height='100' patternUnits='userSpaceOnUse'><line x1='50' y1='35' x2='50' y2='65' stroke='%23865dff' stroke-width='6' stroke-linecap='round'></line><line x1='35' y1='50' x2='65' y2='50' stroke='%23865dff' stroke-width='6' stroke-linecap='round'></line></pattern></defs><rect x='0' y='0' width='100%' height='100%' fill='%23191825'></rect><rect x='0' y='0' width='100%' height='100%' fill='url(%23bg_pattern)'></rect></svg>");
	background-size: cover;
	background-size: 20%;
}

.pruebaNav {
	color: aqua;
}
