@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Lato", sans-serif;
}
ul {
	list-style-type: none;
}
a {
	text-decoration: none;
}

/* footer */

.redSocial,
.redSocial:hover,
.redSocial:active {
	text-decoration: none;
	color: inherit;
}
.redSocial {
	transition: background 0.3s, color 0.3s;
}
.redSocial i {
	transition: transform 0.3s;
}
.redSocial {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 5px 20px;
	@media (max-width: 360px) {
		margin: 5px 10px;
	}
}
.red-in {
	background-color: #0e76a8;
}
.red-gh {
	background-color: #35465c;
}
.red-ig {
	background-color: #bc1888;
}

.red-in:hover {
	color: #0e76a8;
}
.red-gh:hover {
	color: #35465c;
}
.red-ig:hover {
	color: #bc1888;
}

.redSocial:hover i {
	transform: rotate(360deg);
}

.redSocial {
	font-size: 22px;
	width: 48px;
	height: 48px;
	border-radius: 8px;
	color: #0d1b2a;
}
.redSocial:hover {
	background-color: #0d1b2a;
}
/* footer */

/* boton */
.linea1,
.linea2,
.linea3 {
	width: 30px;
	height: 5px;
	background-color: #fff;
	margin: 5px;
	border-radius: 3px;
	transition: all 0.3s;
}

.linea11 {
	transform: translateY(10px) rotate(225deg);
}
.linea22 {
	opacity: 0;
}
.linea33 {
	transform: translateY(-10px) rotate(-225deg);
}
/* boton */

/* loading */

.loader {
	width: 2.2em;
	height: 2.2em;
	display: block;
	position: relative;
	animation: spinRing 1500ms linear infinite;
}
.loader::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
	height: auto;
	width: auto;
	border: 5px solid #865dff;
	border-radius: 50%;
	clip-path: polygon(50% 50%, 50% 0%, 100% 0%, 100% 80%);
	animation: spinRingInner 1500ms cubic-bezier(0.77, 0, 0.175, 1) infinite;
}
@keyframes spinRing {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
@keyframes spinRingInner {
	0% {
		transform: rotate(-180deg);
	}
	50% {
		transform: rotate(-160deg);
	}
	100% {
		transform: rotate(180deg);
	}
}

/* loading */
